<div class="cnt-all">
  <form [formGroup]="formCode" (submit)="validateCode()">
    <div class="all-header">
      <div class="header-title">Digitar código</div>
      <textarea formControlName="code" type="text"></textarea>
      <button type="submit">Enviar</button>
    </div>
    <div class="all-header">
      <div class="header-title">Subir arquivo</div>
      <input formControlName="codeFile" (change)="fileChanged($event)" type="file" accept=".txt">
    </div>
  </form>
  <button (click)="resetForm()">Limpar</button>
</div>

<div class="input-result">
  <div class="input-result-title">Código analisado</div>
  <textarea readonly>{{formatedCode}}</textarea>
</div>
<div class="input-result">
  <div class="input-result-title">Tabela de identificadores</div>
  <div *ngFor="let item of identifiers" class="identifiers" style="display: flex">
    <div class="input-result-identifiers">{{item.id}} - </div>
    <div class="input-result-identifiers">{{item.name}}</div>
  </div>
</div>